<% include partials/header %>
    <h1>This is the home page.</h1>
    <img src="http://static-29.sinclairstoryline.com/resources/media/717fe52a-6441-45f9-bc82-a30d4d7611a7-Corgi43.jpg" alt="corgi!">
    <% include partials/footer %>